.table-responsive{
	min-height: 451px;
}
.conteudo{
	min-height: 452px;
	border: 1px solid #dcdcdc;
	padding:3px;
}
.login{
	background-color: #cccccc;
	padding: 10px;
	margin: 10px;
	max-width: 500px;
	min-width: 400px;
	border-radius:10px;
	border:1px solid #909090;

}
.envolve{
	display: flex;
	padding-top: 50px;
	justify-content: center;
}

@media (max-width: 430px){

	.login{
		min-width: 290px;
	}

}